<div class="footer navbar-fixed-bottom my_footer">
	<p class="text-center">In case of any issues regarding your orders and bad experience on our site then please
		<a href="https://form.jotform.com/phonegarage/phone-garage-store-dispute-form" target="_blank" rel="noopener noreferrer">RAISE A DISPUTE</a>.</p>
	<p class="text-center">&copy; This Phone Garage E-Commerce site is made by Group 12 as part of CSCE 5430.008 course in Fall 2022 semester.<br>
		For any other queries.. Contact us at <a href = "mailto: phonegarage@keemail.mee">@PhoneGarage Email</a>.</p>
	<p> </p>
</div>